.navbar-default{
    background-color: transparent !important;
    border-color: transparent !important;
}
.active a{
    background-color: transparent !important;
}
.img_alexis_top{
    margin-top: 20px;
}
.back{
    background-color: rgb(63, 64, 73);
    height: 775px;
    background-size: 100%;
    text-align: center;
    padding-top: 140px;
    .big_text{
        font-size: 60px;
        color: white;
    }
    button{
        background-color: rgb(252, 95, 69);
        width: 180px;
        height: 50px;
        border-radius: 25px;
        border: 0;
        color: white;
        font-size: 16px;
        margin-top: 50px;
    }
    .img_margin{
        margin-top: 50px;
        .text1{
            font-size: 18px;
            color: rgb(58, 162, 129);
            margin-top: 30px;
        }
        .text2{
            font-size: 18px;
            color: rgb(117, 91, 156);
            margin-top: 30px;
        }
        .text3{
            font-size: 18px;
            color: rgb(181, 139, 87);
            margin-top: 30px;
        }
    }
}
.img_gradient{
    margin-top: 130px;
    float: left;
}
.back_white{
    background-color: white;
    height: 547px;
    box-shadow: 0 0 10px rgba(222, 222, 222, 0.5);
    position: absolute;
    left: 40%;
    top: 210px;
    z-index: 4;
    float: left;
    .textAbout{
        font-size: 50px;
        margin-left: 70px;
        margin-top: -125px;
    }
    .textAnalytics{
        font-size: 15px;
        color: rgb(97, 97, 97);
        padding: 30px;
        padding-left: 70px;
    }  
    .block{
        width: 100%;
        position: absolute;
        bottom: 0;
        .borderBottom1{
            border-bottom: 4px solid rgb(252, 95, 69);
            width: 25%;
            float: left;
        }
        .borderBottom2{
            border-bottom: 4px solid rgb(56, 198, 149);
        }
        .borderBottom3{
            border-bottom: 4px solid rgb(178, 124, 245);
        }
        .borderBottom4{
            border-bottom: 4px solid rgb(254, 185, 96);
        } 
    }  
}
.back1{
    background-color: rgb(247, 247, 247);
    height: 825px;
    text-align: center;
    margin-top: 130px;
    .text4{
        font-size: 274px;
        color: rgb(240, 240, 240);
    }
    .text5{
        font-size: 50px;
        margin-top: -170px;
    }
    .text6{
        font-size: 18px;
        color: rgb(97, 97, 97);
        margin-top: 20px;
    }
    .top_block{
        margin-top: 60px;
        .bg_white{
            background-color: white;
            width: 263px;
            height: 347px;
            padding-top: 65px;
            .text7{
                font-size: 20px;
                margin-top: 25px;
            }
            .text8{
                font-size: 15px;
                color: rgb(97, 97, 97);
            }
            .border_bottom1{
                border-bottom: 4px solid rgb(252, 95, 69);
                margin-top: 79px;
            }
            .border_bottom2{
                border-bottom: 4px solid rgb(56, 198, 149);
                margin-top: 70px;
            }
            .border_bottom3{
                border-bottom: 4px solid rgb(178, 124, 245);
                margin-top: 76px;
            }
            .border_bottom4{
                border-bottom: 4px solid rgb(254, 185, 96);
                margin-top: 78px;
            }
        }
    }
}
.back2{
    background-image: url(img/background.png);
    height: 500px;
    background-size: 100%;
    padding-top: 120px;
    text-align: center;
    .text9{
        font-size: 30px;
        color: white;
    }
    .text10{
        font-size: 15px;
        color: white;
    }
}
.block_top{
    margin-top: 50px;
    .img_top{
        margin-top: 30px;
    }
}
.back3{
    background-color: rgb(247, 247, 247);
    height: 1225px;
    //text-align: center;
    margin-top: 130px;
    .textBig{
        font-size: 274px;
        color: rgb(240, 240, 240);
        text-align: center;
    }
    .textOur{
        font-size: 50px;
        margin-top: -170px;
        text-align: center;
    }
    .textWe{
        font-size: 18px;
        color: rgb(97, 97, 97);
        margin-top: 20px;
        text-align: center;
    }
    .top_block{
        margin-top: 60px; 
        .bg_white{
            background-color: white;
            width: 275px;
            height: 347px;
            text-align: center;
            .text_red{
                font-size: 19px;
                margin-top: 5px;
                color: rgb(252, 95, 69);
            }
            .text_green{
                font-size: 19px;
                margin-top: 5px;
                color: rgb(56, 198, 149);
            }
            .text_purple{
                font-size: 19px;
                margin-top: 5px;
                color: rgb(178, 124, 245);
            }
            .text_yellow{
                font-size: 19px;
                margin-top: 5px;
                color: rgb(254, 185, 96);
            }
             .text11{
                 font-size: 15px;
                 color: rgb(97, 97, 97);
            }
        }
    }
    .bgWhite{
        background-color: white;
        width: 1150px;
        height: 350px;
        margin-top: 50px;
        .text12{
            font-size: 20px;
            margin-top: 80px;
        }
        .text13{
            font-size: 15px;
            color: rgb(97, 97, 97);
        }
        .imgTop{
            margin-top: 150px;
        }
        .block{
            padding-top: 30px;
            font-size: 15px;
        }
        .border{
            border-left: 3px solid rgb(239, 239, 239);
            height: 151px;
            padding-left: 50px;
            margin-top: 100px;
        }
    }
}
.back4{
    background-image: url(img/image.png);
    height: 445px;
    background-size: 100%;
    padding-top: 135px;
    text-align: center;
    b{
        color: white;
        font-size: 20px;
    }
    text{
        color: rgb(206, 206, 207);
        font-size: 15px;
    }
}
.textBig{
    font-size: 274px;
    color: rgb(240, 240, 240);
    text-align: center;
}
.textOur{
    font-size: 50px;
    margin-top: -170px;
    text-align: center;
}
.textWe{
    font-size: 18px;
    color: rgb(97, 97, 97);
    margin-top: 20px;
    text-align: center;
}
.back_white01{
    background-color: white;
    width: 458px;
    height: 300px;
    box-shadow: 0 0 10px rgba(222, 222, 222, 0.5);
    position: relative;
    right: 280px;
    top: 60px;
    z-index: 4;
    .text01{
        color: rgb(224, 224, 224);
        font-size: 50px;
        position: absolute;
        margin-left: 30px;
        margin-top: 30px;
    }
    .block_margin{
        margin-left: 120px;
        margin-top: 24px;
        .textProject{
            font-size: 25px;
        }
        .textBuyer{
            font-size: 15px;
            color: rgb(97, 97, 97);
        }
    }
    .marginTop{
        margin-top: 92px;
        .borderBottom1{
            border-bottom: 4px solid rgb(252, 95, 69);
            width: 458px;
        }
        .borderBottom2{
            border-bottom: 4px solid rgb(178, 124, 245);
            width: 458px;
        }
        .borderBottom3{
            border-bottom: 4px solid rgb(56, 198, 149);
            margin-top: 70px;
        }
        .borderBottom4{
            border-bottom: 4px solid rgb(254, 185, 96);
            margin-top: 78px;
        }
    }
}
.back_white02{
    top: 300px;
}
.back_white03{
    top: -297px;
    left: 370px;
}
.back_white04{
    top: -55px;
    left: 370px;
}
.image_top{
    position: absolute;
    top: 110px;
}
.back5{
    background-color: rgb(247, 247, 247);
    height: 1050px;
    text-align: center;
    margin-top: 130px;
    .textBig{
        font-size: 274px;
        color: rgb(240, 240, 240);
        //text-align: center;
    }
    .textOur{
        font-size: 50px;
        margin-top: -170px;
        //text-align: center;
    }
    .textWe{
        font-size: 18px;
        color: rgb(97, 97, 97);
        margin-top: 20px;
        //text-align: center;
    }
}
.top_block1{
    margin-top: 60px;
    .bg_white1{
        background-color: white;
        width: 360px;
        height: 575px;
        //text-align: center;
        //padding-top: 65px;
        .border_bottom1{
            border-bottom: 4px solid rgb(56, 198, 149);
            //margin-top: 70px;
        }
         .border_bottom2{
            border-bottom: 4px solid rgb(252, 95, 69);
            //margin-top: 79px;
        }
        .border_bottom3{
            border-bottom: 4px solid rgb(178, 124, 245);
            //margin-top: 76px;
        }
        .text14{
            font-size: 20px;
            text-align: center;
            //margin-top: 25px;
        }
        .circle_border_green{
            border: 4px solid rgb(56, 198, 149);
            border-radius: 56px;
            height: 114px;
            width: 114px;
            padding: 3px;
            margin: 0 auto;
            .circle_radius_green{
                border-radius: 56px;
                height: 100px;
                width: 100px;
                background-color: rgb(56, 198, 149);
                padding-top: 22px;
                text{
                    font-size: 20px;
                    color: white;
                }
                text span{
                    font-size: 15px;
                    //padding-top: 5px;
                }
            }
        }
        .circle_border_red{
          border: 4px solid rgb(252, 95, 69); 
            .circle_radius_red{
              background-color: rgb(252, 95, 69);  
            } 
        }
         .circle_border_purple{
          border: 4px solid rgb(178, 124, 245); 
            .circle_radius_purple{
              background-color: rgb(178, 124, 245);  
            } 
        }
        ul{
            line-height: 2.0;
            margin-right: 35px;
            li{
                list-style-type: none;
                font-size: 15px;
                color: rgb(97, 97, 97);
            }
            li span{
                color: black;
            }
        }
        button{
            width: 180px;
            height: 50px;
            border: 3px solid rgb(56, 198, 149);
            border-radius: 25px;
            background: 0;
            color: rgb(56, 198, 149);
            font-size: 16px;
        }
        .button1{
           color: white;
            border: 0;
            background-color: rgb(252, 95, 69);
        }
         .button2{
            border: 3px solid rgb(178, 124, 245);
            color: rgb(178, 124, 245);
        }
    }
}
.back6{
    background-color: rgb(63, 64, 73);
    height: 875px;
    background-size: 100%;
    //text-align: center;
    //padding-top: 140px;
    .textBig{
        font-size: 274px;
        color: rgb(73, 73, 81);
        text-align: center;
    }
    .textOur{
        font-size: 50px;
        color: white;
        margin-top: -170px;
        text-align: center;
    }
    .textWe{
        font-size: 18px;
        color: white;
        margin-top: 20px;
        text-align: center;
    }
    .img_gradient1{
        position: relative;
        left: -70px;
        top: 45px;
        z-index: 4;
        float: left;
    }
    .back_white1{
        background-color: white;
        //border: 1px solid blue;
        width: 820px;
        height: 310px;
        box-shadow: 0 0 10px rgba(222, 222, 222, 0.5);
        margin-top: -328px;
        margin-left: 280px;
        padding-left: 80px;
        padding-top: 25px;
        line-height: 1.8;
        float: left;
        text{
            font-size: 15px;
            color: rgb(97, 97, 97);
            //margin-left: 110px;
            //margin-top: -125px;
        }
        .text_Melina{
            font-size: 40px;
            padding-top: 15px;
        }
        .text_MelinaA{
            font-size: 18px;
            color: black;
            margin-top: -5px;
        }
        .text_Founder{
            font-size: 13px;
            color: rgb(252, 95, 69);
        }
        .borderBottom{
            border-bottom: 4px solid rgb(252, 95, 69);
            width: 777px;
            margin-top: 35px;
            margin-left: -37px;
        } 
    }
}
.marginTop{
    margin-top: 70px;
    .image_shedule{
        float: left;
    }
    .textBisines{
        font-size: 18px;
        margin-left: 10px;
        float: left;
    }
    .textSuccess{
        font-size: 15px;
        color: rgb(97, 97, 97);
    }
}
.margin_top{
    margin-top: 100px;
    .textStart{
        font-size: 25px;
    }
     .button2{
            width: 180px;
            height: 50px;
            color: white;
            border: 0;
            background-color: rgb(252, 95, 69);
            border-radius: 25px;
            font-size: 16px;
    }
}
.back7{
    background-color: rgb(247, 247, 247);
    height: 1151px;
    //text-align: center;
    margin-top: 130px;
    .textBig{
        font-size: 274px;
        color: rgb(240, 240, 240);
        text-align: center;
    }
    .textOur{
        font-size: 50px;
        margin-top: -170px;
        text-align: center;
    }
    .textWe{
        font-size: 18px;
        color: rgb(97, 97, 97);
        margin-top: 20px;
        text-align: center;
    }
    .bg_white{
        background-color: white;
        height: 675px;
        //width: 555px;
        margin-top: 80px;
        border-bottom: 2px solid rgb(252, 95, 69);
        .bg555{
            background-image: url(img/image10.png);
            height: 443px;
            padding: 40px;
            padding-top: 380px;
            text{
                font-size: 15px;
                color: rgb(252, 95, 69);
            }
            text span{
                font-size: 13px;
                color: rgb(219, 219, 219);
            }
        }
        .text1{
            font-size: 20px;
            padding-left: 40px;
        }
        .text2{
            font-size: 15px;
            color: rgb(97, 97, 97);
            padding-left: 40px;
        }
        .text2 span{
            color: black;
        }
    }
    .bg_white1{
        height: 210px;
        border-bottom: 2px solid rgb(56, 198, 149);
        padding: 33px;
        text{
            font-size: 15px;
            color: rgb(56, 198, 149);
         }
        text span{
            font-size: 13px;
            color: rgb(97, 97, 97);
         }
        .text3{
            font-size: 20px;
            margin-top: 15px;
        }
        .text4{
            font-size: 15px;
            color: rgb(97, 97, 97);
            margin-top: 15px;
        }
        .text4 span{
            color: rgb(56, 198, 149);
        }
    }
    .bg_white2{
        border-bottom: 2px solid rgb(178, 124, 245);
        margin-top: 22px;
        text{
            color: rgb(178, 124, 245);
         }
        .text4 span{
            color: rgb(178, 124, 245);
        }
    }
     .bg_white3{
        border-bottom: 2px solid rgb(254, 185, 96);
        text{
            color: rgb(254, 185, 96);
         }
        .text4 span{
            color: rgb(254, 185, 96);
        }
    }
}
.block{
    text-align: center;
    margin-top: 125px;
    p{
        font-size: 30px;
    }
    .input_email{
        background-color: rgb(247, 247, 247);
        border: 1px solid rgb(239, 239, 239);
        border-radius:  25px 0 0 25px ;
        height: 50px;
        width: 300px;
        //color: rgb(97, 97, 97);
        font-size: 16px;
        padding-left: 20px;
    }
    .input_button{
        background-color: rgb(252, 95, 69);
        border: 0;
        border-radius: 0 25px 25px 0;
        height: 50px;
        width: 180px;
        color: white;
        font-size: 16px;
        margin-left: -4px;
    }
}
.back8{
    background-color: rgb(204, 204, 204);
    height: 1455px;
    margin-top: 100px;
    text-align: center;
    .textBig{
        color: rgb(210, 210, 210);
    }
    .block_top{
        margin-top: 65px;
        .block1{
            float: right;
        }
            input{
                width: 290px;
                height: 45px;
                font-size: 16px;
                text-align: center;
                border: 0;
                border-radius: 3px;
            }
        .block2{
            float: left;
        }
    }
    textarea{
        width: 612px;
        height: 200px;
        border: 0;
        border-radius: 3px;
        font-size: 16px;
        color: rgb(149, 149, 149);
        padding: 15px;
        padding-left: 148px;
    } 
     button{
        width: 200px;
        height: 50px;
        color: white;
        border: 0;
        background-color: rgb(252, 95, 69);
        border-radius: 25px;
        font-size: 16px;
    }
    .back9{
        width: 1170px;
        height: 240px;
        background-color: rgb(63, 64, 73);
        padding-top: 60px;
        margin-top: 150px;
        .borderBottom1{
            border-bottom: 4px solid rgb(252, 95, 69);
            height: 100%;
        }
        .imgAlexis{
            margin-top: 30px;
        }
        text{
            color: rgb(56, 198, 149);
            font-size: 18px;
        }
        text span{
            color: rgb(254, 244, 242);
        }
        .borderBottom2{
            border-bottom: 4px solid rgb(56, 198, 149);
        }
        .text_purple{
            color: rgb(178, 124, 245);
        }
        .borderBottom3{
            border-bottom: 4px solid rgb(178, 124, 245);
        }
        .text_yellow{
            color: rgb(254, 185, 96);
        }
        .borderBottom4{
            border-bottom: 4px solid rgb(254, 185, 96);
        }  

    }
}